.content--post {
    margin: 20px 0;
    padding: 10px;
}

.content--post--comments {
    margin: 10px 0;
    padding: 10px;
    background-color: #f5f5f5;
}

.content--post--published {
    text-decoration: underline;
}