.postress-button {
    position: fixed;
    right: 20px;
    top: 70px;

    font-size: 1rem;
    padding: 15px;

    background: #1976d2;
    border-color: #1976d2;
    color: #fff;

    cursor: pointer;
}